.dashboard {
  margin: 20px;
  display: grid;
  place-items: center;
  overflow: auto; 
  color: white;
  z-index: 50;
  position: relative;
  flex: 1;
  max-height: 100vh;
  padding: 10px;

  
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}



h1{
  font-family: 'MedievalSharp', cursive;
}

.title{
  text-align: center;
  font-size: 50px;
}

.layout{
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 100%;
}