

.option-button{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.button{
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}